:root{
  --bg:#020617;
  --card:#020617;
  --border:#22c55e;
  --text:#ffffff;
}

/* neon theme */
body.neon{
  --bg:#020617;
  --card:#0f172a;
  --border:#38bdf8;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:sans-serif;
  margin:0;
  padding:20px;
}

/* theme btn */
#themeToggle{
  position:fixed;
  top:15px;
  left:15px;
  z-index:999;
  border:none;
  border-radius:50%;
  padding:10px;
}

/* cards */
.card{
  background:var(--card);
  border:1px solid var(--border);
  border-radius:14px;
  padding:15px;
  margin-bottom:20px;
  box-shadow:0 0 15px var(--border);
}

/* VIP */
.card.vip{
  border:2px solid gold;
  box-shadow:0 0 25px gold;
}

/* neon success */
.neon-success{
  animation:flash .8s forwards;
}
@keyframes flash{
  to{opacity:0;transform:scale(1.2)}
}

/* textarea */
textarea{
  width:100%;
  height:80px;
  background:#020617;
  color:#22c55e;
  border-radius:10px;
  padding:10px;
  border:1px solid #1e293b;
}

/* login */
.password-wrapper{position:relative}
.show-pass{
  position:absolute;
  right:12px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
}

/* loading */
#loading{
  position:fixed;
  inset:0;
  background:#020617;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:9999;
}
.loader span{
  width:10px;height:10px;
  background:#22c55e;
  margin:5px;
  display:inline-block;
  border-radius:50%;
  animation:load 1s infinite alternate;
}
@keyframes load{to{transform:scale(1.6)}}

/* notify */
#notify{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#16a34a;
  padding:10px 20px;
  border-radius:10px;
  opacity:0;
}
