/* استایل پایه */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

.configs ul {
  list-style: none;
}

.configs li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.configs a {
  font-weight: bold;
  color: #007BFF;
  text-decoration: none;
}

.configs a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
