body{
  background:#020617;
  color:#fff;
  font-family:sans-serif;
  margin:0;
  padding:20px;
}
body.neon{background:#020617;}

.card{
  background:#020617;
  border:1px solid #22c55e;
  border-radius:14px;
  padding:15px;
  margin-bottom:20px;
  box-shadow:0 0 15px #22c55e55;
}

.card.vip{
  border:2px solid gold;
  box-shadow:0 0 25px gold;
}

textarea{
  width:100%;
  height:80px;
  background:#020617;
  color:#22c55e;
  border-radius:10px;
  padding:10px;
  border:1px solid #1e293b;
}

button{
  margin-top:10px;
  padding:10px 15px;
  border:none;
  border-radius:10px;
  background:linear-gradient(90deg,#22c55e,#16a34a);
}

.like-btn{
  background:#ff3e3e;
  color:#fff;
}

.telegram-card a{
  display:block;
  background:#0088cc;
  color:#fff;
  padding:12px;
  text-align:center;
  border-radius:10px;
  text-decoration:none;
}

.password-wrapper{position:relative}
.show-pass{
  position:absolute;
  right:12px;
  top:50%;
  transform:translateY(-50%);
}

.neon-success{
  animation:flash .7s forwards;
}
@keyframes flash{to{opacity:0;transform:scale(1.2)}}

#notify{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#16a34a;
  padding:10px 20px;
  border-radius:10px;
  opacity:0;
}
