body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  text-shadow: 0 0 10px #22c55e;
}

.subtitle {
  text-align: center;
  color: #94a3b8;
  margin-bottom: 20px;
}

.card {
  background: rgba(2, 6, 23, 0.9);
  border: 1px solid #22c55e;
  box-shadow: 0 0 15px #22c55e33;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  padding: 10px;
  background: #020617;
  color: #22c55e;
  border: 1px solid #1e293b;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  background: linear-gradient(90deg, #22c55e, #16a34a);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: black;
}

.download {
  display: block;
  text-align: center;
  margin-top: 8px;
  color: #38bdf8;
  text-decoration: none;
}
#lock {
  max-width: 320px;
  margin: 100px auto;
  text-align: center;
}

#lock input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

#lock button {
  width: 100%;
  margin-top: 12px;
}
