body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 110px;
  border-radius: 10px;
  padding: 10px;
  background: #020617;
  color: #22c55e;
  border: 1px solid #1e293b;
}
